<nav >
    <div class="site-title">
        <a href="/">Programuotojai API</a>
    </div>
    <ul>
        <li><a href="/">Programuotojai</a></li>
        <li><a href="/about">Apie mus</a></li>
        <li><a href="/add-developer">Prideti programuotoja</a></li>
    </ul>
</nav>