<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>Apie mus</h2>
    <p>Musu puslapyje galite rast, geriausius IT specialistus. Jei jusu projektui reik pagalbos, tiesiog raskite nauja komandos nari salia jusu darbovietes.</p>
</div>

<%- include('./partials/footer.ejs') %>